/*作者卡片颜色*/
#aside-content >.card-widget.card-info::before {
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(1,194,255,1) 23%, rgba(18,216,250,1) 48%, rgba(142,227,177,1) 78%, rgba(255,214,127,1) 100%);    background-size: 400%; /* 增加大小以创建动画的空间，这里将宽度减半 */
    animation: gradient 12s ease-in-out infinite;
}

/* 定义名为 gradient 的 @keyframes 规则 */
@keyframes gradient {
    0% {
        background-position: left center; /* 使用 to 关键字来简化起始位置 */
    }
    100% {
        background-position: right center; /* 使用 to 关键字来简化结束位置 */
    }
}
      



/*隐藏分类字样及图标*/
#aside-content .item-headline{
    display: none;
}
/*添加样式*/
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item, #aside-content .card-categories ul.card-category-list>.card-category-list-item{
    width: calc(50% - .25rem);
}
.card-widget card-categories{
    padding-left: 20px;
}
#aside-content :only-child > .card-widget{
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#aside-content .card-tag-cloud a{
    display: inline-block;
    font-size: 95% !important;
    padding: 0 .4em;
    margin: .1em .2em 0 0;
    border-radius: 8px;
    background: var(--suyi-rightside-bg);
    transition: all .3s ease-in-out;
}
/*添加'篇'字及样式*/
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span.card-category-list-count::after{
    /*content: '篇';*/
    opacity: .8;
    font-size: 1rem;
    margin-left: .5rem;
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span.card-archive-list-count, #aside-content .card-categories ul.card-category-list>.card-category-list-item a span.card-category-list-count{
    position: relative;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
}
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child{
    margin-left: 54px;
}
div.card-widget.card-categories{
    padding-left: 0px;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a, #aside-content .card-categories ul.card-category-list > .card-category-list-item a{
    background: var(--suyi-rightside-bg);
}
.card-archive-list-count-group{
    margin-left: 58px;
}
/*自定义白天全局颜色*/
[data-theme="light"]{
    --suyi-rightside-bg: #f2f6fc;
    
}

















/*公告栏定制*/
:root {
    --ichika-color: #49A6E9;
}

/* 公告&欢迎页 */
.card-announcement {
    line-height:30px;
    font-size:16px;
}

.card-announcement .item-headline span{
    margin-left: 9px;
}

.card-announcement span{
    font-weight:bold;
    font-size:20px!important;
    color:var(--ichika-color);
}




/*’关于‘页面修改*/
/*第一栏左侧*/
#about-page .myInfoAndSayHello{
    width: 674.4px;
}
/*第一栏右侧*/
.author-content-item.personalities{
    width: 660.88px;
    padding-left: 32px;
    left: 0px;
}
/*第一栏右侧优化*/
.post-tips{
    display: none;
}
.author-content-item.personalities .title2{
    font-size: 15px;
    line-height: 2.5;
}
/*.about-statistic.author-content-item*/
/*关注偏好-like*/
.author-content-item.like-technology{
    width: 810px;
}






/*杂七杂八，阿巴阿巴*/
/*nav中的网站名字*/
#nav #site-name{
    font-family: unset;

}
hr{
    border: 2px dashed #09c7fb;
}
hr:before{
    color: #09c7fb;
}
/*相册背景*/
.author-content.author-content-item{
    height: 360px;
    background-image: url(https://s1.ax1x.com/2023/07/29/pPpiRvF.jpg);
    background-size: 120%;
}
/*控制栏增添音乐开关*/
div#consoleMusic{
    display: flex;
}

/*友链卡片flink_style === 'telescopic'样式丢失*/
#article-container .telescopic-site-card-group .site-card:hover .site-card-tag{
    left: -200px;
}
#article-container .anzhiyu-flink-list .flink-list-item:hover .site-card-tag{
    left: -200px;
}


.img-alt.is-center {
    display: none;
}

/*首页技能卡片主题色*/
#random-hover:hover{
    background-color: #09c7fb;
}







